// =======================
// Colors
// =======================

$white: #fff;
$black: #000;
$body: #333;

$accent-dark: #829199;
$accent-medium-dark: #94a5b3;
$accent-medium-light: #abb6be;
$accent-light: #dadddb;
