// =======================
// Typography
// =======================

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400|Work+Sans:200,300,400');

$font-sans-serif: Helvetica, 'Helvetica Neue', Arial, sans-serif;

@mixin font-source {
	font-family: 'Source Sans Pro', $font-sans-serif;
}

@mixin font-work {
	font-family: 'Work Sans', $font-sans-serif;
}

.body {
	-webkit-font-smoothing: antialiased;
}

.headline {
	@include font-work;
	font-size: 40px;
	line-height: 1.5;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.subheadline {
	@include font-source;
	font-size: 20px;
	line-height: 1.4;
	font-weight: 300;

	&.work {
		font-size: 18px;
	}
}

.footer {
	@include font-work;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 1px;
	text-transform: uppercase;
}

a {
	&,
	&:link,
	a:visited,
	a:hover,
	a:active {
		text-decoration: none;
	}

}
